<div mat-dialog-title>
    <p>History form</p>
</div>
<div mat-dialog-content>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput [(ngModel)]="data.title" placeholder="Ex. My awesome History">
        <fa-icon [icon]="faSmile" matSuffix></fa-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
        <mat-label>Outline form field</mat-label>
        <input matInput [(ngModel)]="data.subtitle" placeholder="Ex. Amazing subtitle">
        <fa-icon [icon]="faSmile" matSuffix></fa-icon>
    </mat-form-field>
    <br>
    <mat-form-field appearence="outline">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput [(ngModel)]="data.resume" placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancel()"> Cancel </button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Save</button>
</div>