{{histories}}
<mat-card *ngFor="let history of histories" class="history-card">
  <mat-card-header>
    <mat-card-title>
      {{history.title}}
    </mat-card-title>
    <mat-card-subtitle>
      {{history.subtitle}}
    </mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{history.resume}}
    </p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="openDialog(history)">
      <fa-icon [icon]="faCoffee"></fa-icon>
    </button>
    <button mat-stroked-button (click)="openSnackBar()">Show snack-bar</button>
  </mat-card-actions>

</mat-card>